// Place all the styles related to the Heroes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#heroes-show
  padding-top: 20px

  .header
    width: 80%
    margin: 0 auto
    margin-bottom: 30px
    border-bottom: 1px solid #DDD

  .hero
    width: 80%
    margin: 0 auto

    .row
      .vote
        width: 80%
        margin-top: 20px
        text-align: center
        a
          padding: 9px 60px 9px


      .span4
        width: 10%

      .span12
        width: 80%

        .rank-block
          float: left
          padding-right: 20px

          .rank
            font-weight: bold
            font-size: 18px
          .descriptor
            color: #999
            font-size: 18px
            padding-right: 5px

        h1
          margin-bottom: 10px
          em
            color: #99A7AF
            font-style: normal
            font-weight: normal