#home-index
  padding-top: 100px
  padding-bottom: 40px

  #header
    text-align: center
    .header
      h1
        line-height: 20px
        margin-bottom: 8px
      h2
        font-family: 'Candal', 'Helvetica-Neue', 'Helvetica'
        font-size: 72px
      .blurb
        padding-top: 10px

    .heroes
      padding: 40px 0

    .nominate


  #aside
    padding-top: 28%