#home-index
  #header
    text-align: center
    .header
      h1
        line-height: 20px
        margin-bottom: 8px
      h2
        font-family: 'Candal', 'Helvetica-Neue', 'Helvetica'
        font-size: 72px
      .blurb
        padding-top: 10px

    .heroes
      height: 250px

    .nominate


  #aside
    padding-top: 28%