%head
  %meta{ :charset => "utf-8" }

  %title githero.es - vote for your hero on github!
  = stylesheet_link_tag 'application'
  = csrf_meta_tag

  %link{:href => 'http://fonts.googleapis.com/css?family=Candal', :rel => 'stylesheet', :type => 'text/css'}

  = yield :head_javascripts