- content_for :head_javascripts do
  :coffeescript
    if window.opener && window.location.href.match(/ref=oauth/) != null
      window.close()
      window.opener.location.reload(true)

%section#home-index
  .row#main-row
    .span16#header
      .header
        = image_tag 'githeroes-600x170.png', :alt => 'githero.es'
        .blurb
          Vote for your Github Hero!
      .heroes
        = render :partial => 'heroes/list', :locals => { :heroes => @heroes }

      #nomination-container
        %input{:class => "xlarge", :id => "nominate-hero-text-field", :name => "xlInput", :size => "50", :type => "text", :placeholder => "Your hero's GitHub username"}
        %a{:href => '#', :class => 'btn success', :id => 'nominate-hero-button'}
          Nominate