- content_for :head_javascripts do
  :coffeescript
    if window.opener
      window.close()
      window.opener.location.reload(true)

%section#home-index
  .row#main-row
    .span16#header
      .header
        = image_tag 'githeroes-600x170.png'
        .blurb
          Vote for your hero on Github!
      .heroes
        = render :partial => 'heroes/list', :locals => { :heroes => @heroes }

      .nominate
        %a{:class => 'btn success large', :id => 'nominate-hero', 'data-controls-modal' => "nominate-hero-modal", 'data-backdrop' => 'static', :href => '#'}
          Nominate your Own Hero!