.cast-vote
  %p
    Nominate another Hero of yours

  #nomination-container
    %input{:class => "xlarge", :id => "nominate-hero-text-field", :name => "xlInput", :size => "50", :type => "text", :placeholder => "Your hero's GitHub username"}
    %a{:href => '#', :class => 'btn success', :id => 'nominate-hero-button'}
      Nominate